<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-03-10T01:32:56Z</date>
	<key>WorkspacePath</key>
	<string>/Users/fionapeng/Desktop/folders/cs32/Project 4/Project 4.xcodeproj</string>
</dict>
</plist>
